{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1>Are you interested in teaching a class for PyLadies Remote?</h1>

  <p> We put together the answers to our most frequently asked questions to help you
    decide whether this is for you and to help you get the most out of your class.</p>

  <h3>What’s in it for me?</h3>

  <ul>
    <li>Share your knowledge and help others learn and solve problems.</li>
    <li>Deepen your understanding of a topic by teaching it to others.</li>
    <li>Gather speaking experience (it looks good on your resumé).</li>
    <li>Receive feedback on your Python project or your teaching style.</li>
  </ul>


  <h3>What’s involved with teaching a class for PyLadies Remote?</h3>

  <ul>
    <li><bold>Prepare for your class:</bold>Choose a topic, build a presentation and outline, create slides. We will set up the Youtube live stream and everything else for you.</li>
    <li><bold>Help us promote the class:</bold>Retweet our tweets and spread the word among your network.</li>
    <li><bold>Teach the class:</bold> From the comfort of your home, in your PJs if you like. Our classes are usually between and 30 minutes and 3 hours
    long. We host most of our classes on Saturday mornings US time but we can be flexible if you prefer a different day and time.</li>
    <li><bold>After your class:</bold> Share your slides and other resources with the attendees (we are happy to send out the follow up email for you).
      Promote your presentation on social media.</li>
    </ul>


<h3>Interested in teaching a class or have other questions?</h3>

<p>Please email us at <a href="mailto:remote@pyladies.com">remote@pyladies.com</a> and we are happy to chat more!</p>



  </div>
  {% endblock %}
