{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h2>Upcoming Events</h2>

  <div class="meetup">
    <h3>
      <a href="https://www.eventbrite.com/e/django-and-docker-with-josue-balandrano-coronel-tickets-47776084555" target="_blank">Django and Docker with Josue Balandrano Coronel</a>
    </h3>
    <p class="meetup_date"><em>Saturday October 6, 2018, 11:00AM CDT</em></p>
    <p class="meetup_venue"><em>Youtube Live</em></p>
    <div class="meetup_about">

      <p>
        Docker implements operating-system-level virtualization, otherwise known as containerization.
        Containers are great for development and production because they allow for easier reproduce-ability.
        In this class you will learn how to use docker to run a Django web application as well as the common
        local development and production setups of a web application and
        some tips to use Django and Docker together.
      </p>

    </div>
  </div>



  <!-- This is a template
  <div class="meetup">
    <h3>
      <a href="" target="_blank"></a>
    </h3>
    <p class="meetup_date"><em></em></p>
    <p class="meetup_venue"><em></em></p>
    <div class="meetup_about">
    </div>
  </div> -->


  <h2> Past Events</h2>

  <div class="meetup">
    <h3>
      <a href="https://www.eventbrite.com/e/introduction-to-pyspark-with-garren-staubli-tickets-44427449698" target="_blank">Introduction to PySpark with Garren Staubli</a>
    </h3>
    <p class="meetup_date"><em>Saturday April 21, 2018, 10:30AM PDT</em></p>
    <p class="meetup_venue"><em>Youtube Live</em></p>
    <div class="meetup_about">

      <p>
        Learn how to use Spark with Python, including how Spark works, a sample application with code,
        PySpark-specific guidance and specially curated resources for further learning and development.
      </p>
      <p>
        Code available <a href="http://garrens.com/pyspark124">here</a>.
      </p>
      <p>
        Please install <a href="https://notebooks.azure.com">Azure Notebooks</a> in order to follow along during the class.
        </p>
        <p>
          All PyLadies Remote teachers and students are expected to behave in accordance with the <a href="http://www.pyladies.com/CodeOfConduct/">PyLadies Code of Conduct</a>.
          </p>

    </div>
  </div>

  <div class="meetup">
    <h3>
      <a href="https://www.eventbrite.com/e/global-diversity-cfp-day-workshop-with-a-jesse-jiryu-davis-tickets-41582194463" target="_blank">Global Diversity CFP Day Workshop with A. Jesse Jiryu Davis</a>
    </h3>
    <p class="meetup_date"><em>Saturday February 3, 2018, 11:00AM EST</em></p>
    <p class="meetup_venue"><em>Youtube Live</em></p>
    <div class="meetup_about">
      <p>
        PyLadies Remote is excited to participate in <a href="https://www.globaldiversitycfpday.com">Global Diversity CFP Day</a>.
      </p>
      <p>
        When you speak at a conference or meetup, you have a chance to share your ideas and meet fellow specialists who share your passions.
        A tech talk opens surprising opportunities: it can lead to more speaking, or writing for prominent publishers, or collaborating with leaders in your field.
        Your talk doesn't have to be a tour de force, you don't have to be a leading expert, and you don't have to talk about something you built—conference organizers
        love a good explanation of basic principles.
      </p>
      <p>
        This PyLadies Remote class is presented by A. Jesse Jiryu Davis. He's a PloneConf keynote speaker and a PyGotham organizer, and has spoken at PyCon each year since 2014.
        In the last few years he has advanced from a nervous newbie to an accomplished speaker (but still gets nervous).
        Jesse will present a complete guide to beginning a conference speaking career: where to find speaking opportunities, how to write a winning proposal, techniques for writing,
        rehearsing, and refining your presentation, and how to maximize the value of your conference talk. Anyone should come who wants to begin or to advance their speaking career.
      </p>
    </div>
  </div>


  <div class="meetup">
    <h3>
      <a href="https://www.eventbrite.com/e/introduction-to-machine-learning-in-python-with-alyssa-batula-tickets-38013550553" target="_blank">Introduction to Machine Learning with Python</a>
    </h3>
    <p class="meetup_date"><em>Saturday November 11, 2017, 11:00AM EST</em></p>
    <p class="meetup_venue"><em>Youtube Live</em></p>
    <div class="meetup_about">
      <p>
        This class will help you get started working with machine learning in Python,
        starting with an overview of what machine learning is as well as what it can and
        cannot do. We will use Jupyter notebooks and the scikit-learn library to explore
        how data is used for machine learning and examples of three types of algorithms:
        classification, regression, and clustering. At the end of this course, you
        will be able to run a simple algorithm on a dataset and have resources for more
        in-depth learning on how these algorithms work.
      </p>
      <p>Prerequisites: Basic Python programming (including the use of functions).
      </p>
        <p>
          Software Needed: Python 3 (2 might work, but I can't guarantee it) and the
          following libraries: scikit-learn, numpy/scipy, matplotlib
        </p>
    </div>
  </div>

  <div class="meetup">
    <h3>
      <a href="https://www.eventbrite.com/e/administration-building-of-django-based-rest-api-with-alyssa-andrews-tickets-37948218142" target="_blank">Administration and Building of Django-based REST API</a>
    </h3>
    <p class="meetup_date"><em>Saturday October 7, 2017, 10:30AM EDT</em></p>
    <p class="meetup_venue"><em>Youtube Live</em></p>
    <div class="meetup_about">
      <p>
        This online class will introduce you to the administration and building
        blocks behind a Django project. This includes building the admin interface
        with subsequent models and learning how to attach Rest API endpoints.
        With this class, you will build an inventory database, learn how to view
        the information in a GUI format, and also learn how to make calls to get,
        post, and delete the respective data in the database. By the end of the class,
        you will have a fully functioning project to reference for other Django endeavors.
        Let's get coding!
      </p>
      <p>Python Version: Python 2.7x or 3.6x.
      </p>
        <p>
          Pip Installs: django, djangorestframework
        </p>
    </div>
  </div>

  <div class="meetup">
    <h3>
      <a href="https://www.eventbrite.com/e/introduction-to-event-driven-automation-with-stackstorm-tickets-36843888061" target="_blank">Introduction to event driven automation with StackStorm</a>
    </h3>
    <p class="meetup_date"><em>Sunday September 10, 2017, 11:00AM EDT</em></p>
    <p class="meetup_venue"><em>Youtube Live</em></p>
    <div class="meetup_about">
      <p>
        StackStorm is a platform for integration and automation across services and tools.
        It ties existing infrastructure and application environment, making it easy to automate.
        I will cover the following topics in this session.
        Working knowledge (beginner/intermediate) of Python is preferred.
      </p>
      <ul>
        <li>Introducing stack storm and concepts of packs: Actions, rules, triggers</li>
        <li>Discussion of useful packs: aws, slack</li>
        <li>Writing workflows: Action Chain, mistral, Mapping python scripts as workflows</li>
        <li>A development workflow with StackStrom docker</li>
      </ul>
      <p>Prerequisite installation:</p>
      <ul>
        <li>docker</li>
        <li>docker compose</li>
        <li>StackStorm docker installation from <a href="https://github.com/StackStorm/st2-docker">https://github.com/StackStorm/st2-docker</a></li>
      </ul>
    </div>
  </div>

  <div class="meetup">
    <h3>
      <a href="https://www.eventbrite.com/e/introduction-to-data-wrangling-with-pandas-with-sarah-masud-tickets-35614660408" target="_blank">
        Introduction to Data Wrangling with Pandas with Sarah Masud
      </a>
    </h3>
    <p class="meetup_date"><em>Saturday July 22, 2017, 03:00PM CEST</em></p>
    <p class="meetup_venue"><em>Youtube Live</em></p>
    <div class="meetup_about">
      <p>
        Excel sheets have become the de facto format for analysing and sharing
        data insights. But it is not efficient for handling data that is either
        huge or partial or both. This is where Pandas comes to the rescue.
        Pandas is a very powerful and highly optimised Python library.
        It is used for cleaning and analysing datasets. Having a working
        knowledge of Pandas helps any data analysts to quickly gain insights
        from a large dataset, and obtain a clean, portable subset of data to
        do in-depth analysis on.
      </p>
      <p>
        By the end of this session, participants will have a working knowledge of
        Pandas. Beginner level knowledge of Python will be sufficient to get you
        started with Pandas.
      </p>
      <p>
        Topics covered:
      </p>
      <ul>
        <li>Why we need Pandas</li>
        <li>Creating a data frame</li>
        <li>Subsetting a data frame</li>
        <li>Merging data frames</li>
        <li>Perform basic statistical operations</li>
        <li>Performing split-apply-combine operations</li>
        <li>Exercise the knowledge on a sample dataset + basic visualisation</li>
      </ul>
      <p>
        Prerequisite Installation: Matplotlib, Pandas and Numpy.
      </p>
    </div>
  </div>

  <div class="meetup">
    <h3>
      <a href="https://www.eventbrite.com/e/strategies-for-building-and-launching-your-side-project-with-tracy-osborn-tickets-32211230658" target="_blank">Strategies for Building and Launching Your Side Project with Tracy Osborn</a>
    </h3>
    <p class="meetup_date"><em>Saturday March 4, 2017, 01:00PM EST</em></p>
    <p class="meetup_venue"><em>Youtube Live</em></p>
    <div class="meetup_about">
      <p>
        Got an idea you want to build? This mini-workshop will go over the
        basics of creating your project idea, breaking it down into easily
        achievable pieces, making a plan for building it (we'll be using Django
        but the concept is pretty universal), and general strategies to make
        this very scary-seeming process into something fun and productive.
      </p>
      <p>
        Prior knowledge of Django is suggested but not required.
      </p>
    </div>
  </div>

  <hr>

  <div class="meetup">
    <h3>
      <a href="https://www.eventbrite.com/e/an-end-to-boring-data-with-visualizations-with-heather-shapiro-tickets-30865156514" target="_blank">An End to Boring Data with Visualizations with Heather Shapiro</a>
    </h3>
    <p class="meetup_date"><em>Saturday January 14, 2016, 11:00AM EST</em></p>
    <p class="meetup_venue"><em>Youtube Live</em></p>
    <div class="meetup_about">
      <p>
        Put the days of trying to decipher meaning from boring spreadsheets
        behind you. Visualize data to give greater and immediate meaning to
        all those numbers with Python. Explore the variety of options available
        for data visualization in Python using different libraries and understand
        which ones excel for what type of task. Create maps, statistical graphs
        and more detailed or interactive visualizations that can also be used
        on the web, ideal to take that blog post to a whole new level.
      </p>
      <p>
        Prior knowledge of Python is suggested but not required. Also, no
        knowledge of data science or statistics is necessary.
      </p>
    </div>
  </div>

  <hr>

  <div class="meetup">
    <h3>
      <a href="https://www.eventbrite.com/e/data-structures-and-algorithms-in-python-tickets-27596027461" target="_blank">Data Structures and Algorithms in Python</a>
    </h3>
    <p class="meetup_date"><em>Saturday September 24, 2016, 05:00PM CEST</em></p>
    <p class="meetup_venue"><em>Youtube Live</em></p>
    <div class="meetup_about">
      <p>
        Data Structures and Algorithms are very useful and many times the only way through which you can solve complex problems.
        Python is fun. Let's write and understand some data structures and algorithms using Python in this class.
      </p>
      <h4>Prerequisites:</h4>
      <ul>
        <li>Basic Python knowledge.</li>
        <li>If you have already heard about these terms, it's a plus.</li>
        <li>Please sign up for a free <a href="https://c9.io">Cloud9</a> account to follow along.</li>
      </ul>

      <h4>Algorithms and data structures that will be covered:</h4>
      <ol>
        <li>Algorithms</li>
        <ul>
          <li>Breadth First Search</li>
          <li>Sieve of Eratosthenes</li>
          <li>Heap Sort</li>
        </ul>
        <li>Data Strucutures</li>
        <ul>
          <li>Singly Linked List</li>
          <li>Undirected Graph</li>
          <li>Union Find</li>
        </ul>
        <li>If time permits</li>
        <ul>
          <li>Depth First Search</li>
          <li>Knuth-Morris-Pratt Algorithm (KMP)</li>
          <li>LCM</li>
          <li>Stack</li>
          <li>Queue</li>
        </ul>
      </ol>
      <p>
        We will discuss why it is beneficial to know about data structures and algorithms. I will also take up some real life
        examples of problems which can be solved using above algorithms and data structures.
      </p>
    </div>
  </div>

  <hr>

  <div class="meetup">
    <h3>
      <a href="https://www.eventbrite.com/e/flask-ask-using-alexa-skills-with-john-wheeler-tickets-26709115684" target="_blank">Flask-Ask - Using Alexa Skills with John Wheeler</a>
    </h3>
    <p class="meetup_date"><em>Saturday August 6, 2016, 10:00AM CST</em></p>
    <p class="meetup_venue"><em>Youtube Live</em></p>
    <div class="meetup_about">
      <p>
        You ask 'Alexa' to play songs, get the weather, and report scores. Those 'skills', as they're called, have an open API for building conversational apps. That API is the Alexa Skills Kit, and Flask-Ask is a Python framework that makes working with it easy.
      </p>
      <p>
        Developing with Flask-Ask is fun. It's a novel experience to write and test conversational code, and it presents well over the web.
      </p>
      <p>
        The Alexa service is available in North America only right now. However, developers are writing skills in other countries regardless.
      </p>
    </div>
  </div>

  <hr>

  <div class="meetup">
    <h3>
      <a href="https://www.crowdcast.io/e/ember-workshop2" target="_blank">Building Your First SPA Webshop: Intro to Django REST Framework and Ember - Part 2</a>
    </h3>
    <p class="meetup_date"><em>Sunday July 24th, 2016, 10:00AM CST</em></p>
    <p class="meetup_venue"><em>Crowdcast</em></p>
    <div class="meetup_about">
      <p>
        If you enjoyed the introduction to building a single page workshop with Django and
      EmberJS, you'll probably be interested in the second episode of this class.
      </p>
      <p>
        In case you couldn't make it for part, you can still attend part two, we will
        start from existing code that you'll be able to download
        (you can also go through part 1 by yourself <a href="https://www.crowdcast.io/e/ember-workshop">here</a>).
      </p>
      <p>
        In the second part of this class the focus will mostly be about testing and creating records
        from the frontend but we'll be covering a couple other topics as well.
      </p>
      <p>
        Our teacher, Emma, will be using <a href="https://www.nitrous.io">https://www.nitrous.io</a> as an online IDE.
        We recommend that you sign up for a free for nitrious.io before the class
        so you can follow along.
      </p>
    </div>
  </div>

  <hr>

  <div class="meetup">
    <h3>
      <a href="http://ccst.io/e/ember-workshop" target="_blank">Building Your First SPA Webshop: Intro to Django REST Framework and Ember</a>
    </h3>
    <p class="meetup_date"><em>Sunday May 22nd, 2016, 05:00PM CET</em></p>
    <p class="meetup_venue"><em>Crowdcast</em></p>
    <div class="meetup_about">
      <p>
        Does frontend development sound scary or intriguing? Then, come join
        us for this class and discover more! Frontend frameworks are not that
        different from  backend frameworks. They are also MV*, and even if
        some of them are very different to what we are used to in the
        "backend world", some of them are really close to what we are used to
        with Django.
      </p>
      <p>
        During this class we will focus on:
      </p>
      <ul>
        <li>Creating an API in Django with Django Rest Framework</li>
        <li>Retrieving data from Django in Ember and displaying it to the user</li>
        <li>Building a simple filter with Django Rest Framework</li>
        <li>Ember nested views and requesting filtered data from the backend</li>
        <li>Filtering data in the frontend</li>
        <li>Making things prettier with transition animations</li>
        <li>Testing the API and the frontend</li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="meetup">
    <h3>
      <a href="https://www.eventbrite.com/e/learn-testing-with-python-tickets-24365642292" target="_blank">Learn Testing with Python</a>
    </h3>
    <p class="meetup_date"><em>Saturday April 30th, 2016, 11:00AM EST</em></p>
    <p class="meetup_venue"><em>Google Hangout on Air</em></p>
    <div class="meetup_about">
      <p>
      Tired of trying to check your code by hand?  Interested in testing
        but not sure where to begin?  This class will teach you the basics of testing
        in Python.
      </p>
      <p>
        We'll cover:
      </p>
      <ul>
        <li>
          The pros and cons of testing your code, and when it's most important to do
          so.
        </li>
        <li>
          How to make a simple set of tests using unit tests, included basic building
          blocks like assertions and setUp/tearDown. (Don't know what those terms mean
          yet?  That's what the class is for!)
        </li>
        <li>
          The Coverage tool, which helps you track how much of your code has tests.
        </li>
      </ul>
      <p>
        We'll also briefly talk about more advanced testing topics, such as mocks,
        factories, integration testing with Selenium, automated testing, and test
        driven development, just to give folks a lay of the testing landscape.  :)
      </p>
    </div>
  </div>

  <hr>

  <div class="meetup">
    <h3>
      <a
        href="https://www.eventbrite.com/e/python-dictionaries-tickets-22429986694"
        target="_blank">
        Python Dictionaries
      </a>
    </h3>
    <p class="meetup_date"><em>Saturday March 12th, 2016, 3:30pm-5:30pm CET</em></p>
    <p class="meetup_venue"><em>Google Hangout on Air</em></p>
    <div class="meetup_about">
      <p>
        The dictionary is a widely used data structure which maps values with the keys used to get
        them, with the requirement that the keys are unique. This class takes you through a tour of
        the working of Python dictionaries.</p>
      <p> What will you learn?</p>
      <ul>
        <li>What exactly is a dictionary?</li>
        <li>What is the difference between lists, dictionaries and tuples?</li>
        <li>What operations can be done on dictionaries?</li>
        <li>What makes dictionaries awesome?</li>
        <li>Nested dictionaries</li>
        <li>Use cases of dictionaries</li>
        <li>When not to use dictionaries</li>
      </ul>
      <p> Ready to spend your Saturday afternoon learning something fun?</p>
      <p>Sign up for the class <a
        href="https://www.eventbrite.com/e/python-dictionaries-tickets-22429986694"
          >here!</a></p>
    </div>
  </div>

  <hr>

  <div class="meetup">
    <h3>
      <a
        href="https://www.eventbrite.com/e/introduction-to-computational-linguistics-with-python-tickets-21414898538"
        target="_blank">
        Introduction to Computational Linguistics with Python
      </a>
    </h3>
    <p class="meetup_date"><em>Saturday February 20th, 2016, 9:00am-11:00am CST</em></p>
    <p class="meetup_venue"><em>Google Hangout on Air</em></p>
    <div class="meetup_about">
    <p>
        A brief introduction to Computational Linguistics by Giovanni De Gasperis, where we'll do
        some basic analyses by writing small Python programs.
        Computational Linguistics is a multidisciplinary research area where linguists and computer
        scientists collaborate to analyze unstructured text in its primitive form, i.e. not
        actually trying to read it and doing natural language understanding, but more specifically
        calculating statistical properties out of large text corpora, independently from the
        language by which the text has been produced.
        Typical results are: the most occurrent text forms in absolute or in relation to other
        forms, extract most significant keywords, build the corpus vocabulary. More advanced
        results are lemmatization, part of speech tagging, semantic categories tagging and much
        more.
        A text will be downloaded from the web and it will be analyzed writing small Python
        programs that can produce some of the basic results mentioned above.
      </p>
    </div>
  </div>

  <hr>

  <div class="meetup">
    <h3>
      <a href="https://www.eventbrite.com/e/your-first-conference-proposal-tickets-20707409419" target="_blank">
      Your First Conference Proposal!</a>
    </h3>
    <p class="meetup_date"><em>Saturday January 30, 10:00am-11:00am PST</em></p>
    <p class="meetup_venue"><em>Google Hangout on Air</em></p>
    <div class="meetup_about">
      <p>Speaking at conferences is a great way to get to know new people, travel the country (and the world!), learn new techniques,
        and network with other developers. But submitting your first conference presentation can be daunting.
        You might not be sure how much detail to include or how formal to me. You might even think that your perspective isn't valuable.</p>
      <p>In this PyLadies Remote class, we'll start with a discussion of impostor syndrome and how you can overcome it to start your
        speaking career. Multiple and diverse voices add value to all conferences, so we'll talk about how to get yourself a speaker
        mentor, how to build confidence, and the importance of rehearsal. Then we'll get into the nitty gritty of what conferences
        are looking for in a proposal. By the end of the meeting, you'll have a list of conferences to apply for, some ideas for what
        to present, and a plan for giving your first conference talk in 2016.</p>
      <p>Sign up for the class <a href="https://www.eventbrite.com/e/your-first-conference-proposal-tickets-20707409419">here!</a></p>
      <p>Here are the links to the <a href="https://plus.google.com/events/csta0ll2cpq67d6sjlor1ohurp4 ">live stream</a> and
        to the <a href="https://tlk.io/pyladiesremote">help chat</a>Lacey will be using.</p>
      <p>Both links won't be active until about a half an hour before the class starts.</p>
    </div>
  </div>

  <hr>

  <div class="meetup">
    <h3>
      <a href="https://www.eventbrite.com/e/python-list-comprehensions-tickets-19369488662" target="_blank">
      Python List Comprehensions</a>
    </h3>
    <p class="meetup_date"><em>Saturday November 21, 9:00am-10:30am PST</em></p>
    <p class="meetup_venue"><em>Google Hangout on Air</em></p>
    <div class="meetup_about">
      <p>Let's learn about some looping techniques we can use to make our code more
        readable and more Pythonic. We'll learn about list comprehensions,
        set comprehensions, dictionary comprehensions, and generator expressions.
        Yay Python!
      </p>
      <p>Sign up for the class <a href="https://www.eventbrite.com/e/python-list-comprehensions-tickets-19369488662">here!</a></p>
      <p>Here are the links to the <a href="https://plus.google.com/u/0/events/csvika6tcr1rfuarp6scdpgutrs">live stream</a> and
        to the <a href="https://tlk.io/pyladiesremote">help chat</a> Trey will be using.</p>
      <p>Both links won't be active until about a half an hour before the class starts.</p>
    </div>
  </div>

  <hr>

  <div class="meetup">
    <h3>
      <a href="https://www.eventbrite.com/e/from-guess-and-check-to-recursion-tickets-18329147975" target="_blank">
      From Guess and Check to Recursion!</a>
    </h3>
    <p class="meetup_date"><em>Sunday October 4th, 11:00am-1:00pm CDT</em></p>
    <p class="meetup_venue"><em>Google Hangout on Air</em></p>
    <div class="meetup_about">
      <p>Recursion - what is it? (A way to break down a problem into smaller pieces which
        you either already know the answer to!)</p>
      <p>In this class we'll solve two to three problems starting first with our tried and
        true guess and check logic. Once we know how to break the problem down and solve
        it with exhaustive enumeration, we'll retool our approach to apply recursion to our code.</p>
      <p>The class will make use of psuedocode and, time permitting, do a Big O analysis on
        each implementation.</p>
      <p>Sign up for the class <a href="https://www.eventbrite.com/e/from-guess-and-check-to-recursion-tickets-18329147975">here!</a></p>
      <p>Here are the links to the <a href="https://plus.google.com/events/ca5obo3ho0tish70fs64klqae4k">live stream</a> and
        to the <a href="https://tlk.io/pyladiesremote">help chat</a> Lorena will be using.</p>
      <p>Both links won't be active until about a half an hour before the class starts.</p>
    </div>
  </div>

  <hr>

  <div class="meetup">
    <h3>
      <a href="https://www.eventbrite.com/e/lets-learn-git-in-your-pjs-tickets-18289350941" target="_blank">
      Let's learn Git in Your PJs</a>
    </h3>
    <p class="meetup_date"><em>Sunday September 20, 09:30am-11:30am EDT</em></p>
    <p class="meetup_venue"><em>Google Hangout on Air</em></p>
    <div class="meetup_about">
      <p>It's time to get comfortable with git!</p>
      <p>Today, git is the go-to for versioning. If you want to go code in the open
        source community, chances are good that you're going to have to learn about git.</p>
      <p>In this class, we're going to go over:</p>
        <ul>
          <li>What exactly IS git?</li>
          <li>Installing it</li>
          <li>Creating repositories</li>
          <li>Branching, merging, rebasing, tagging</li>
          <li>Fixing merges</li>
          <li>Working with Github</li>
          <li>Getting information out of git</li>
          <li>Tricks and tips</li>
        </ul>
      <p>In order to participate in this class, you'll need a GitHub account and a computer
         with admin rights. You'll be playing around with a repo on Katie Cunningham's
         account, so you won't need to do anything but sign up!</p>
      <p>Sign up for the class <a href="https://www.eventbrite.com/e/lets-learn-git-in-your-pjs-tickets-18289350941">here!</a></p>
      <p>The link to the live stream will be added to Eventbrite page before the class so please
        keep an eye out for it. Here is the link to the <a href="https://tlk.io/pyladiesdc">help chat</a> Katie will be using.</p>
      <p>Both links won't be active until about a half an hour before the class starts.</p>
    </div>
  </div>

  <hr>

  <div class="meetup">
    <h3>
      <a href="https://www.eventbrite.com/e/intro-to-python-3-in-your-pjs-tickets-18000972393" target="_blank">
      Intro to Python 3 in Your PJs</a>
    </h3>
    <p class="meetup_date"><em>Sunday August 23, 09:30am-12:30pm EDT</em></p>
    <p class="meetup_venue"><em>Google Hangout on Air</em></p>
    <div class="meetup_about">
      <p>Yes! Katie Cunningham will finally be going over Python 3!</p>
      <p>This is a class for the new developer, and works not only for those new to programming, but also to Python.</p>
      <p>For this class, Katie will be using Google Hangouts on Air and
        <a href="https://c9.io">Cloud 9</a>. Make sure that you have a C9 account before the class starts!
        Everyone should be fine using the free tier.</p>
      <p>Rough outline:</p>
        <ul>
          <li>Storing and manipulating data</li>
          <li>Getting information from the user</li>
          <li>Logic and flow control</li>
          <li>Using the standard library</li>
          <li>Projects of interest</li>
        </ul>
      <p>Sign up for the class <a href="https://www.eventbrite.com/e/intro-to-python-3-in-your-pjs-tickets-18000972393">here!</a></p>
      <p>The link to the live stream will be added to Eventbrite page before the class so please
        keep an eye out for it. Here is the link to the <a href="https://tlk.io/pyladiesdc">help chat</a> Katie will be using.</p>
      <p>Both links won't be active until about a half an hour before the class starts.</p>
    </div>
  </div>

  <hr>

  <div class="meetup">
    <h3>
      <a href="https://www.eventbrite.com/e/introduction-to-scraping-and-scrapy-tickets-18001063666" target="_blank">Introduction to Scraping and Scrapy</a>
    </h3>
    <p class="meetup_date"><em>Sunday August 16, 09:30am-11:00am EDT</em></p>
    <p class="meetup_venue"><em>Google Hangout on Air</em></p>
    <div class="meetup_about">
      <p>Web scraping (web harvesting or web data extraction) is a computer software technique of extracting information from websites.  -- wiki</p>
      <p>What you need?</p>
      <ul>
        <li>A <a href="https://mail.google.com/">Gmail Account</a>.</li>
        <li><a href="https://c9.io">Cloud9 account</a>.</li>
        <li>Love for <a href="https://www.python.org">Python</a>.</li>
        <li>Internet Obviously. :)</li>
        <li>Doubts, questions, drop them <a href="https://tlk.io/pyladiesremote">here</a>.</li>
      </ul>
      <p>What you will learn?</p>
      <ul>
        <li>Installing Scrapy and anything that we need.</li>
        <li>What is scraping?</li>
        <li>Why Scrape at all?</li>
        <li>What all you can scrape?</li>
        <li>How to write a scraper?</li>
        <li>Why Scrapy is awesome?</li>
        <li>Why Scrapy is not that awesome?</li>
        <li>What is xpath? Why they are so useful in scraping?</li>
        <li>What all you have in Python World to Scrape?</li>
      </ul>
      <p>You are a beginner in Python? Yes? Please join in. :)</p>
      <p>No? I promise you will learn something new and interesting. :)</p>
      <p>Sign up for the class <a href="https://www.eventbrite.com/e/introduction-to-scraping-and-scrapy-tickets-18001063666">here!</a></p>
      <p>The link to the live stream will be added to Eventbrite page before the class so please
        keep an eye out for it. Here is the link to the <a href="https://tlk.io/pyladiesremote">help chat</a> Tapasweni will be using.</p>
      <p>Both links won't be active until about a half an hour before the class starts.</p>
    </div>
  </div>

  <hr>

  <div class="meetup">
    <h3>
      <a href="https://www.eventbrite.com/e/introduction-to-django-tickets-17678186933" target="_blank">Introduction to Django</a>
    </h3>
    <p class="meetup_date"><em>Sunday July 26, 02:30pm-05:30pm CEST</em></p>
    <p class="meetup_venue"><em>Livecoding.tv</em></p>
    <div class="meetup_about">
      <p>Emmanuelle Delescolle will teach you how to create a ToDo App with Django!</p>
      <p>Here are the steps that she will guide you through:</p>
      <ul>
        <li>We'll install a stlightly prepared django project using cookiecutter in order to save time (with preloaded bootstrap, custom css, required apps already installed, db initialized with superuser)</li>
        <li>We'll jump directly into urls.py (with explanation on how a django/wsgi app is different from basics html/php/asp/jsp based sites if part of the audience has experience with those)</li>
        <li>We'll have a brief intro of TemplateView and Django templates and template inheritance.</li>
        <li>We'll do a complete intro on models/makemigrations/migrate</li>
        <li>We'll have a brief description of the admin and how to create a ModelAdmin</li>
        <li>We'll move towards ListView, CreateView and UpdateView</li>
        <li>We'll create a custom View class (to set a todo as done from the list) based on RedirectView</li>
      </ul>
      <p>If there's time left:</p>
      <ul>
        <li>We'll do an ajax version of the last step so the page doesn't need to be reloaded when setting a todo as done and see how django can behave differently for ajax and regular requests</li>
      </ul>
      <p>Emmanuelle will use cloud9 for her class. If you don't have a cloud9 account, please <a href="https://c9.io">sign up</a> before the class It's free!</p>
      <p>Sign up for the class <a href="https://www.eventbrite.com/e/introduction-to-django-tickets-17678186933">here!</a></p>
      <p>Here is the link to the <a href="https://www.livecoding.tv/emma/">stream</a>
        and to the <a href="https://tlk.io/pyladiesremote">help chat</a> Emmanuelle will be using.</p>
      <p>Both links won't be active until about a half an hour before the class starts.</p>
    </div>
  </div>

  <hr>

  <div class="meetup">
    <h3>
      <a href="https://www.eventbrite.com/e/learn-javascript-in-your-pjs-tickets-17646464049" target="_blank">Learn JavaScript in Your PJs!</a>
    </h3>
    <p class="meetup_date"><em>Sunday July 19, 09:30am-12:30pm EDT</em></p>
    <p class="meetup_venue"><em>Google Hangout on Air</em></p>
    <div class="meetup_about">
      <p>Yes, this is a Python group, but if you want to do web dev,
        you'll want to learn Javascript!</p>
      <p>In this online class, Katie Cunningham will teach you the basics of
        Javascript, including:</p>
      <ul>
        <li><p>Storing and manipulating data</p></li>
        <li><p>Manipulating HTML</p></li>
        <li><p>Logic and flow control</p></li>
        <li><p>Objects</p></li>
        <li><p>Functions</p></li>
        <li><p>Debugging</p></li>
        <li><p>Frameworks</li>
      </ul>
      <p>Sign up for the class <a href="https://www.eventbrite.com/e/learn-javascript-in-your-pjs-tickets-17646464049">here!</a></p>
      <p>Here is the link to the <a href="https://plus.google.com/u/0/events/ck2c0c52a66u7s7juk8anjcnbo0">Google Hangout on Air</a>
        and to the <a href="https://tlk.io/pyladiesdc">help chat</a> Katie will be using.</p>
      <p>Both links won't be active until about a half an hour before the class starts.</p>
    </div>
  </div>

  <hr>

  <div class="meetup">
    <h3>
      <a href="https://www.eventbrite.com/e/learn-python-in-your-pjs-tickets-17362458581" target="_blank">Learn Python in Your PJs!</a>
    </h3>
    <p class="meetup_date"><em>Sunday June 28, 09:30am-12:30pm EDT</em></p>
    <p class="meetup_venue"><em>Google Hangout on Air</em></p>
    <div class="meetup_about">
      <p>
        <a href="http://twitter.com/kcunning">Katie Cunningham</a>
        will teach you the basics of Python! And the best part about it: You can
        take the class from home, in your PJ's!</p>
      <p>This is a class for absolutely beginners, so don't worry about
        not having enough experience.</p>
      <p>Katie will cover:</p>
      <ul>
        <li>What is Python, and what can it do?</li>
        <li>Saving data</li>
        <li>Manipulating data</li>
        <li>Data types</li>
        <li>Repeating code</li>
        <li>Creating functions</li>
        <li>Using the Python Standard Library</li>
        <li>What next?</li>
      </ul>
      <p>For this class, Katie will be using <a href="https://c9.io">Cloud 9</a>.
        You can feel free to use the Python installed on your machine, but it's much,
        MUCH easier to share errors with Katie when you use Cloud 9.</p>
      <p>Class pre-requisites:</p>
      <ul>
        <li>A stable Internet connection
          (please, don't do this from a coffee shop!)</li>
        <li>A Cloud 9 account (it's free!)</li>
        <li>Some caffeine :)</li>
      </ul>
      <p>Sign up for the class <a href="https://www.eventbrite.com/e/learn-python-in-your-pjs-tickets-17362458581">here!</a></p>
      <p>An email with the link to the Google Hangout on Air and the
        corresponding help chat will be sent out about an hour before
        the class, so check your emails!</p>
    </div>
  </div>
</div>
{% endblock %}
