{% extends 'layout.html' %}

{% block content %}
  <div class="container">
    <div class="jumbotron text-center">
        <img id="logo" src="{{get_asset('images/remote-logo.svg')}}">
        <h1>PyLadies Remote</h1>
        <h3>A group with online classes for PyLadies living anywhere in the world! :) </h3>
    </div>
  </div>


  <div class="container marketing">

    <div class="row">

      <div class="col-sm-8">
        <h2>Our Mission</h2>
        <p>PyLadies is an international mentorship group with a focus on helping more women become active participants and leaders in the Python open-source community. PyLadies' mission is to promote, educate and advance a diverse Python community through outreach, education, conferences, events and social gatherings. PyLadies also aims to provide a friendly support network for women and a bridge to the larger Python world. Anyone with an interest in Python is encouraged to participate!</p>
        <p>PyLadies Remote was established with the idea in mind to reach those women interested in Python who don’t live near a PyLadies group. All of the PyLadies Remote classes will be online classes in order to be easily accessible for PyLadies all over the world.</p>
        <p>If you would like to teach a class for PyLadies Remote, have ideas for future classes, or questions, please get in touch at <a href="mailto:remote@pyladies.com">remote@pyladies.com</a>.</p>
        <p>All PyLadies Remote teachers and students are expected to behave in accordance with the <a href="http://www.pyladies.com/CodeOfConduct/">PyLadies Code of Conduct</a>.</p>
        <h2>Recent Tweets <img src="{{ get_asset('images/twitter.png') }}" width=30 height=30></h2>
        <div class="twitter-feed">
          <a class="twitter-timeline" href="https://twitter.com/PyLadiesRemote" data-widget-id="606510265925050368">Tweets von @PyLadiesRemote </a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>



      <div class="col-sm-4">
        <h2>Upcoming Events <img src="{{ get_asset('images/Eventbrite.png') }}" class="img-circle" width=30 height=30>
</h2>
        <!-- EventBrite widget -->
         <iframe  src="https://www.eventbrite.com/calendar-widget?eid=35614660408" frameborder="0" height="417" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:195px; text-align:center;" ><a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/">Powered by Eventbrite</a></div></div>
        <!-- /EventBrite widget -->
      </div><!-- /.col-sm-4 -->

    </div><!-- /.row -->

  </div>

  <div class="container">
    <div id="organizers" class="row">
      <div class="col-sm-4 title">
        <h2>PyLadies Remote Organizers</h2>
      </div>
      <!-- Once we find the second organizer, change back to col-sm-4 -->
      <div class="col-sm-4">
        <a href="http://www.twitter.com/ossanna16"><img class="img-circle" src="{{ get_asset('images/Anna-thumb.png') }}" alt="@ossanna16"></a>
        <h2>Anna Ossowski</h2>
        <p>Anna loves working at the intersection of tech and people and currently works for Elastic in Developer Relations.
          She is a former director of the Python Software Foundation, PyCon US staff member, DjangoCon US Diversity Chair,
          Django Girls organizer, and group co-leader of the PyLadies Remote group. In her free time she loves speaking at conferences
          and mentoring future speakers. </p>
        <p>Anna is very passionate about diversity and community outreach and wants to encourage more women to
        learn programming because it's awesome! Anna writes on her <a href="http://anna-oz.tumblr.com">blog</a> and you can
          follow her on Twitter at <a href="http://twitter.com/ossanna16">@ossanna16</a>.</p>
      </div> <!-- /.col-sm-4 -->


      <div class="col-sm-4">
          <a href="https://twitter.com/HolaCorryn"><img class="img-circle" src="{{ get_asset('images/corryn-thumb.jpg') }}" alt="@HolaCorryn">
          </a>

       <h2>Corryn Smith</h2>
       <p>
           Corryn recently took on the role as Co-Organizer for PyLadies Remote. Corryn is passionate about all things
           geospatial. She likes to use Python for GIS-related tasks in ArcMap and QGIS. She
           is also interested in Python Web Applications that use GeoDjango. Currently, she
           is a student web developer for the NASA funded GFSAD30 project.
        </p>
        <p>Corryn recently graduated with her Master's Degree, which means that
          she will now have more time to be involved with the Python and Django Communities. Corryn would like
          to see more women and minorites in the tech field. Corryn believes that PyLadies
          is an excellent starting point for women who want to learn how to code. To learn more about Corryn, you can check out her blog
        <a href="http://travelswithmaps.blogspot.com/">here</a> or follow her on Twitter at
        <a href="https://twitter.com/HolaCorryn">@HolaCorryn</a>.
      </p>


    </div>  <!--/.col-sm-4 -->

  </div><!-- /.row -->


    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2019 PyLadies Remote</p>
    </footer>
  </div>
{% endblock %}
